body {
    background: url('images/main_picture.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    padding: 20px;
    font-size: 32px;
}

.title {
    margin-right: 0;
}

#linkedin-icon {
    position: absolute;
    top: 50%; /* Position the icon halfway down the page */
    left: 50%; /* Center the icon horizontally */
    transform: translate(-50%, -50%); /* Offset the icon to fully center it */
}

#linkedin-icon img {
    width: 32px;
    height: 32px;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 50px;
}

#main-content img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
