body {
    background: url('images/main_picture.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    padding: 20px;
    font-size: 32px;
    display: flex;
    align-items: center; /* Center align items vertically */
    justify-content: center; /* Center the header content horizontally */
}

.title {
    margin-right: 10px; /* Space between title and icon */
}

#linkedin-icon img {
    width: 32px;
    height: 32px;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#main-content img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
